{% extends "layout.html.twig" %}

{% block title %}Homepage{% endblock %}

{% block content %}
    <!-- Banner -->
    <section id="banner">
        <div class="inner">
            <h2>This is SMYQ</h2>
            <p>An application that shares earthquake happened near you for you!</p>
            <ul class="actions">
                <li><a href="javascript:_smyq.login()" class="button big special">Sign In</a></li>
                <li><a href="#two" class="button big alt">Learn More</a></li>
            </ul>
        </div>
    </section>

    <!-- One -->
    <section id="one" class="wrapper style1">
        <header class="major">
            <h2>Why should i do it?</h2>
            <p>what are the advantages of this service?</p>
        </header>
        <div class="container">
            <div class="row">
                <div class="4u">
                    <section class="special box">
                        <i class="icon fa-area-chart major"></i>
                        <h3>It's trendy</h3>
                        <p>Just look around. There are lots of people that are posting statuses after earthquakes.</p>
                    </section>
                </div>
                <div class="4u">
                    <section class="special box">
                        <i class="icon fa-refresh major"></i>
                        <h3>Keep your friends in sync</h3>
                        <p>Let your friends to know that something goes wrong even if you are not able to post yourself.</p>
                    </section>
                </div>
                <div class="4u">
                    <section class="special box">
                        <i class="icon fa-cog major"></i>
                        <h3>Free & easy to use</h3>
                        <p>SMYQ is designed to allow you setting up automated shares in couple of minutes. No headaches. No charges. No preservatives =)</p>
                    </section>
                </div>
            </div>
        </div>
    </section>

    <!-- Two -->
    <section id="two" class="wrapper style2">
        <header class="major">
            <h2>What can happen with me during an earthquake?</h2>
        </header>
        <div class="container">
            <div class="row">
                <div class="6u">
                    <section class="special">
                        <a href="#" class="image fit"><img src="/images/eq1.jpg" alt="Tōhoku earthquake and tsunami"/></a>
                        <h3>Tōhoku earthquake and tsunami</h3>
                        <p>The earthquake of the Pacific coast of Tōhoku was a magnitude 9.0 (Mw) undersea megathrust earthquake off the coast of Japan that occurred on Friday 11 March 2011. The earthquake is also often referred to in Japan as the Great East Japan Earthquake.</p>
                        <ul class="actions">
                            <li><a target="_blank" href="http://en.wikipedia.org/wiki/2011_Tōhoku_earthquake_and_tsunami" class="button alt">Read More</a></li>
                        </ul>
                    </section>
                </div>
                <div class="6u">
                    <section class="special">
                        <a href="#" class="image fit"><img src="/images/eq2.jpg" alt="" /></a>
                        <h3>It is closer that you think...</h3>
                        <p>Years of Earthquakes? California's 'Big One' May Be Many Smaller Ones.</p>
                        <ul class="actions">
                            <li><a target="_blank" href="http://www.nbcnews.com/science/science-news/years-earthquakes-californias-big-one-may-be-many-smaller-ones-n109436" class="button alt">Read More</a></li>
                        </ul>
                    </section>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
